Options +FollowSymLinks
RewriteEngine on

RewriteCond %{HTTP_HOST} ^npfulfilment.com.au(.*)$ [OR]
RewriteCond %{HTTP_HOST} ^www.npfulfilment.com.au(.*)$
RewriteRule (.*)$ http://www.npfulfilment.com/$1 [R=301,L]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

# Redirect old file path to new file path
#Redirect /our-servicescateg/ /newdirectory/newfile.html
#Redirect 301 ^/our-services/?$ /our-services/product-fulfilment/
RedirectMatch 301 ^/our-services/?$ /our-services/product-fulfilment/

RedirectMatch 301 ^/slider1/?$ /our-services/product-fulfilment/
RedirectMatch 301 ^/slider2/?$ /our-services/3pl/
RedirectMatch 301 ^/slider3/?$ /computer-integration/
RedirectMatch 301 ^/slider4/?$ /our-services/returns-management/

</IfModule>

<IfModule mod_headers.c>
    # WEEK
    <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    # WEEK
    <FilesMatch "\.(js|css|swf)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>
</IfModule>

# END WordPress

